<!DOCTYPE html>
<html>
    <head>
        <title>TO DO LIST</title>
    </head>
    <body>
        <h1>Yo here is that list</h1>

        <p><a href="/categories">Click here</a> to see all of the categories and to add a category.</p>
    <p><a href="/tasks">Click here</a> to see all of the tasks and to add a task.</p>

    </body>
</html>
